/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.autocomplete-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  width: 35%;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #f0f0f0;
}


.taxi-types {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taxi-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.taxi-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.taxi-card h3 {
  font-size: 18px;
}

#changeRouteBtn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #17a2b8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#changeRouteBtn:hover {
  background-color: #138496;
}







.selection-summary-section {
  padding: 20px;
  background-color: #f8f9fa; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.driver-list {
  max-height: 500px; /* Set max height for the driver list */
  overflow-y: auto; /* Enable vertical scrolling */
}

.driver-card {
  background-color: #ffc107;
  border-radius: 10px;
  width: 100%;
  min-height: 30px !important;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.driver-card:hover {
  transform: scale(1.02); /* Slightly scale up on hover */
}

.card-title {
  font-size: 1.25rem; /* Slightly larger title */
}

.card-text {
  font-size: 1rem; /* Standard text size */
}
